#app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;  /** Start from top */
}

#app-header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /** Start from top */
}

#app-header h3{
    width: 100%;
    text-align: center;
}

#app main {
    margin-left: 30px;
}

#app p.list-title {
    width: 100%;
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
    #app {
        flex-direction: column;
        padding-right: 10px;
        padding-left: 10px;
    }

    #app main {
        margin-left: 0;
        margin-top: 30px;
    }

    #app aside {
        width: 90%;
    }
}